<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex,nofollow">

        <title>{% block title %}Developer's Notebook{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('resources/css/main.css') }}" type="text/css">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!--[if lte IE 9]>
            <script type="text/javascript" src="{{ asset('resources/js/ie.js') }}"></script>
        <![endif]-->

        <script type="text/javascript" src="{{ asset('resources/js/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('resources/js/jquery-ui-1.11.4.min.js') }}"></script>
    </head>
    <body>
        {% block menubar %}
            <div class="menubar">
                <div class="logo"><a href="{{ path('frontendHomepage') }}"><img src="{{ asset('resources/img/logo.svg') }}"></a></div>
                <div class="menu">
                    <a href="{{ path('_homepage') }}" id="homeLink"><div class="home-icon"></div></a>
                    <a href="{{ path('projects') }}" id="projectsLink">Projects</a>
                    <a href="{{ path('journal') }}" id="journalLink">Journal</a>
                    <a href="{{ path('issues') }}" id="issuesLink">Issues</a>
                    <a href="{{ path('todos') }}" id="todosLink">To Dos</a>
                    <a href="{{ path('codeCache') }}" id="codeCacheLink">Code Cache</a>
                    <a href="{{ path('notes') }}" id="notesLink">Notes</a>
                    <a href="{{ path('bookmarks') }}" id="bookmarksLink">Bookmarks</a>
                </div>
				<div class="account">
                    <a href="#!" class="dropdown-arrow" onclick="openAccountDropdown(this)">&#9660;</a>
                    <div class="dropdown">
                        <a href="{{ path('settingsPage') }}">Settings</a>
                        <a href="{{ path('accountPage') }}">Account</a>
                        <a href="{{ path('logout') }}" class="divider">Logout</a>
                    </div>
                </div>
				<div class="command-search right" data-search-url="{{ path('searchUrl') }}">
                    <input type="text" class="command-search-field" onclick="expandSearch(this)" onkeyup="submitSearch(event)" placeholder="Type a search query"{% if query is defined %}value="{{ query }}"{% endif %}>
                </div>
            </div>
        {% endblock %}
        <div class="popup-close-layer"></div>
        <div class="popup popup-confirm" id="popupConfirm">
            <div class="popup-content">
                <div class="confirm-message"></div>
                <div class="buttons">
                    <button class="blue-button has-neighbor-button" id="confirmButton">Yes</button><button onclick="closePopup()" class="white-button">No</button>
                </div>
            </div>
        </div>

        <div class="message-center"></div>
        
        <div class="general-ajax-loader-container"><span id="general-ajax-loader"></span>Working...</div>

        {% block body %}{% endblock %}

        {#<?php include_once('console.php'); ?>#}

        <div class="footer">
            &copy; 2015 <a href="http://www.alexseifert.com" target="_blank" class="copyright-link">Alex Seifert</a> <span class="version-number">&mdash; v. {{ app_version }}</span>
            <div class="links">
                <a href="https://github.com/eiskalteschatten/developers-notebook" target="_blank">GitHub</a>
                <a href="https://github.com/eiskalteschatten/developers-notebook/issues" target="_blank">Report a bug</a>
                <a href="{{ path('aboutLink') }}" target="_blank">About Developer's Notebook</a>
            </div>
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('resources/js/basics.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('resources/js/spin.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('resources/js/scripts.js') }}"></script>
            <script type="text/javascript">
	            var ajaxLoaderSmallOpts = {
	                lines: 13, // The number of lines to draw
	                length: 5, // The length of each line
	                width: 2, // The line thickness
	                radius: 5, // The radius of the inner circle
	                corners: 1, // Corner roundness (0..1)
	                rotate: 0, // The rotation offset
	                direction: 1, // 1: clockwise, -1: counterclockwise
	                color: '#000', // #rgb or #rrggbb or array of colors
	                speed: 1, // Rounds per second
	                trail: 60, // Afterglow percentage
	                shadow: false, // Whether to render a shadow
	                hwaccel: true, // Whether to use hardware acceleration
	                className: 'spinner', // The CSS class to assign to the spinner
	                zIndex: 2e9, // The z-index (defaults to 2000000000)
	                top: '-6px', // Top position relative to parent
	                left: '0' // Left position relative to parent
	            };
	            
	            var ajaxLoaderLargeOpts = {
	                lines: 13, // The number of lines to draw
	                length: 10, // The length of each line
	                width: 2, // The line thickness
	                radius: 10, // The radius of the inner circle
	                corners: 1, // Corner roundness (0..1)
	                rotate: 0, // The rotation offset
	                direction: 1, // 1: clockwise, -1: counterclockwise
	                color: '#000', // #rgb or #rrggbb or array of colors
	                speed: 1, // Rounds per second
	                trail: 60, // Afterglow percentage
	                shadow: false, // Whether to render a shadow
	                hwaccel: true, // Whether to use hardware acceleration
	                className: 'spinner', // The CSS class to assign to the spinner
	                zIndex: 2e9, // The z-index (defaults to 2000000000)
	                top: '50%', // Top position relative to parent
	                left: '50%' // Left position relative to parent
	            };

                var generalErrorMessage = "{{ general_error_message }}";
            
                $(document).ready(function() {
                    bsPreloadImage("{{ asset('resources/img/house-over.svg') }}");

                    {% if currentPage is defined and currentPage is not empty %}
                        $('#{{ currentPage }}Link').addClass('selected');
                    {% endif %}
                });

                window.onerror = function (errorMsg, url, line, column, errorObj) {
                    var error = errorMsg + "\n" + errorObj;

                    var toSend = {
                        error: error,
                        url: window.location.href,
                        scriptUrl: url,
                        column: column,
                        line: line,
                        userAgent: navigator.userAgent
                    }

                    $.post("{{ path('reportJavaScriptError') }}", toSend);
                }
            </script>
        {% endblock %}
    </body>
</html>