{% extends 'default/base.html.twig' %}

{% block title %}Bookmarks - Developer's Notebook{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var standardArea = "{{ standardArea }}";
        var createItemUrl = "{{ path('bookmarksCreateBookmark') }}";
        var saveItemUrl = "{{ path('bookmarksSaveBookmark') }}";
        var removeItemUrl = "{{ path('bookmarksRemove') }}";
        var movePageToFolderUrl = "{{ path('bookmarksMovePageToFolder') }}";
        var removePageFromFoldersUrl = "{{ path('bookmarksRemovePageFromFolders') }}";
        var movePageToProjectUrl = "{{ path('bookmarksMovePageToProject') }}";

        function createCallback(data) {
            var div = $('.row:first').clone();
            div.attr('data-id', data.id);
            div.attr('data-folder', data.folder);
            div.attr('data-project', data.project)
            div.find('input').val("");
            div.find('textarea').val("");
            div.find('.to-empty').text('');
            div.find('.url').html('<a href=""></a>');
            div.removeClass('to-be-cloned');
            $('#itemTable').prepend(div);

            div.click(function() {
                selectItem($(this));
            });

            openEdit(div.find('.edit-button').find('a'));
            div.find('.text-item-name').select();

            setDraggableAndDroppable();
        }

        function saveItem() {
            var selected = $('.row.selected');

            var toSend = {
                id: selected.attr('data-id'),
                name: selected.find('.text-item-name').val(),
                url: selected.find('.text-item-url').val(),
                notes: selected.find('.text-item-note').val()
            }

            $.post(saveItemUrl, toSend, function(data) {
                var selected = $('.row.selected');
                var info = selected.find('.info');
                info.find('.name').text(data.name);
                info.find('.url').find('a').attr('href', data.url);
                info.find('.url').find('a').text(data.croppedUrl);

                closeEdit(selected.find('.edit'));
            });
        }

        function openEdit(obj) {
            var row = $(obj).parents('.row');
            row.find('.info').hide();
            row.find('.edit').show();

            selectItem(row);
        }
    </script>
    <script type="text/javascript" src="{{ asset('resources/js/folders.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/js/bookmarks-todos-issues.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="content-two-thirds-columns">
        <div class="narrow-column">
            <div class="toolbar">
                <div class="toolbar-content">
                    <a href="#!" onclick="createFolder()" title="Create a new folder">+</a><a href="#!" onclick="removeFolder('{{ path('bookmarksRemoveFolder') }}')" title="Remove selected folder">&ndash;</a>
                </div>
            </div>
            <div class="editor-folders">
                <div class="editor-folders">
                    <div class="editor-folder all-projects-folders" data-id="-1">
                        All
                    </div>
                </div>
                <div class="section-label">Projects</div>
                <div class="editor-folders projects">
                    {% for project in projects %}
                        <div class="editor-folder project" data-id="{{ project.id }}">
                            {{ project.name }}
                        </div>
                    {% endfor %}
                </div>

                <div class="section-label">Folders</div>
                <div class="editor-folders folders" data-url-create="{{ path('bookmarksCreateFolder') }}">
                    {% for folder in folders %}
                        <div class="editor-folder folder" data-id="{{ folder.id }}">
                            {{ folder.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="large-column">
            <div class="toolbar">
                <div class="toolbar-content">
                    <a href="#!" onclick="createItem()" title="Create a new bookmark">+</a><a href="#!" onclick="removeItem()" title="Remove selected bookmark">&ndash;</a>
                </div>
            </div>
            <div class="full-size-table small-rows" id="itemTable">
                {% for bookmark in bookmarks %}
                    {% set toBeCloned = '' %}

                    {% if bookmark.name == "dGhpcyByb3cgc2hvdWxkIGJlIGNsb25lZA==" %}
                        {% set toBeCloned = ' to-be-cloned' %}
                    {% endif %}

                    <div class="row{{ toBeCloned }}" data-id="{{ bookmark.id }}" data-folder="{{ bookmark.folder }}" data-project="{{ bookmark.project }}" onclick="selectItem(this)">
                        <div class="info">
                            <span class="edit-button"><a href="#!" onclick="openEdit(this)">Edit</a></span>
                            <span class="name to-empty">{{ bookmark.name }}</span>
                            <span class="url gray-info to-empty"><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.croppedUrl }}</a></span>
                        </div>
                        <div class="edit">
                            <div class="left item-name">
                                Name:<br>
                                <input type="text" class="text-item-name" value="{{ bookmark.name }}" placeholder="Bookmark Name">
                            </div>

                            <div class="left item-url">
                                URL:<br>
                                <input type="text" class="text-item-url" value="{{ bookmark.url }}" placeholder="Bookmark URL">
                            </div>

                            <div class="clear-both"></div>

                            <div class="input-label" style="margin-top: 20px;">Notes:</div>
                            <textarea class="text-item-note" placeholder="Bookmark Notes">{{ bookmark.notes }}</textarea>
                            <button onclick="saveItem()" style="margin-left: 10px;">Save</button><button onclick="closeEdit(this)" style="margin-left: 10px;">Cancel</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clear-both"></div>

{% endblock %}

{% block stylesheets %}
    <style>
        .item-name, .item-url {
            width: calc(50% - 30px) !important;
            float: left;
            margin-left: 10px;
        }

        .text-item-name, .text-item-url  {
            width: calc(100% - 10px) !important;
        }

        .input-label {
            margin-left: 10px;
        }

        .text-item-note {
            width: calc(100% - 40px);
            height: 50px;
            margin-left: 10px;
        }
    </style>

    {{ parent() }}
{% endblock %}
