{% extends 'default/base.html.twig' %}

{% block title %}Issues - Developer's Notebook{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var standardArea = "{{ standardArea }}";
        var createItemUrl = "{{ path('issuesCreateIssue') }}";
        var saveItemUrl = "{{ path('issuesSaveIssue') }}";
        var removeItemUrl = "{{ path('issuesRemove') }}";
        var movePageToFolderUrl = "{{ path('issuesMovePageToFolder') }}";
        var removePageFromFoldersUrl = "{{ path('issuesRemovePageFromFolders') }}";
        var movePageToProjectUrl = "{{ path('issuesMovePageToProject') }}";

        $(document).ready(function() {
            $('.date-picker').datepicker({
                dateFormat: "yy-mm-dd"
            });

            $('.text-item-todos').autocomplete({
                source: "{{ path('todosGetListOfTodos') }}",
                minLength: 2,
                select: function (event, ui) {
                    log(ui.item ?
                    "Selected: " + ui.item.value + " aka " + ui.item.id :
                    "Nothing selected, input was " + this.value);
                }
            });
        });

        function createCallback(data) {
            var div = $('.row:first').clone();
            div.attr('data-id', data.id);
            div.attr('data-folder', data.folder);
            div.attr('data-project', data.project)
            div.find('input').val("");
            div.find('textarea').val("");
            div.find('.to-empty').text('');
            div.find('.is-completed-check').prop('checked', false);
            div.removeClass('to-be-cloned');
            div.removeClass('is-completed');
            $('#itemTable').prepend(div);

            div.find('.hasDatepicker').removeClass('hasDatepicker');
            div.find('.date-picker').datepicker("destroy");
            div.find('.date-picker').datepicker({
                dateFormat: "yy-mm-dd"
            });

            div.click(function() {
                selectItem($(this));
            });

            openEdit(div.find('.edit-button').find('a'));
            div.find('.text-item-name').select();

            setDraggableAndDroppable();
        }

        function saveItem() {
            var selected = $('.row.selected');

            var toSend = {
                id: selected.attr('data-id'),
                name: selected.find('.text-item-name').val(),
                labels: selected.find('.text-item-labels').val(),
                todos: selected.find('.text-item-todos').val(),
                datePlanned: selected.find('.text-item-dateplanned').val(),
                dateDue: selected.find('.text-item-datedue').val(),
                description: selected.find('.text-item-note').val()
            }

            $.post(saveItemUrl, toSend, function(data) {
                var info = selected.find('.info');
                info.find('.name').text(data.name);
                info.find('.labels').html("<b>Labels:</b>: " + data.labels);
                info.find('.date-planned').html("<b>Date Planned:</b>: " + data.datePlanned);
                info.find('.date-due').html("<b>Due:</b>: " + data.dateDue);

                closeEdit(selected.find('.edit'));
            });
        }

        function openEdit(obj) {
            var row = $(obj).parents('.row');

            row.find('.info').hide();
            row.find('.edit').show();

            selectItem(row);
        }

        function toggleCompletedProjects(button) {
            if (!$(button).hasClass('selected')) {
                $('.is-completed').show();
                $(button).addClass('selected');
            }
            else {
                $('.is-completed').hide();
                $(button).removeClass('selected');
            }
        }

        function toggleIsComplete(id, obj) {
            var isComplete = $(obj).prop('checked');

            var toSend = {
                id: id,
                isComplete: isComplete
            }

            $.post("{{ path('issuesIsComplete') }}", toSend, function(data) {
                var row = $(obj).parents('.row');

                if (data.isCompleted) {
                    row.addClass('is-completed');
                    row.find('.date-completed').text("Completed: " + data.date);
                }
                else {
                    row.removeClass('is-completed');
                    row.find('.date-completed').remove();
                }
            });
        }
    </script>
    <script type="text/javascript" src="{{ asset('resources/js/folders.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/js/bookmarks-todos-issues.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="content-two-thirds-columns">
        <div class="narrow-column">
            <div class="toolbar">
                <div class="toolbar-content">
                    <a href="#!" onclick="createFolder()" title="Create a new folder">+</a><a href="#!" onclick="removeFolder('{{ path('issuesRemoveFolder') }}')" title="Remove selected folder">&ndash;</a>
                </div>
            </div>
            <div class="editor-folders">
                <div class="editor-folders">
                    <div class="editor-folder all-projects-folders" data-id="-1">
                        All
                    </div>
                </div>
                <div class="section-label">Projects</div>
                <div class="editor-folders projects">
                    {% for project in projects %}
                        <div class="editor-folder project" data-id="{{ project.id }}">
                            {{ project.name }}
                        </div>
                    {% endfor %}
                </div>

                <div class="section-label">Folders</div>
                <div class="editor-folders folders" data-url-create="{{ path('issuesCreateFolder') }}">
                    {% for folder in folders %}
                        <div class="editor-folder folder" data-id="{{ folder.id }}">
                            {{ folder.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="large-column">
            <div class="toolbar">
                <div class="toolbar-content">
                    <div class="toolbar-section">
                        <a href="#!" onclick="createItem()" title="Create a new to do">+</a><a href="#!" onclick="removeItem()" title="Remove selected to do">&ndash;</a>
                    </div>
                    <div class="toolbar-section">
                        <a href="#!" onclick="toggleCompletedProjects(this)" id="toggleIsCompleted" title="Toggle completed projects">&#10004;</a>
                    </div>
                </div>
            </div>
            <div class="full-size-table small-rows" id="itemTable">
                {% for issue in issues %}
                    {% set isCompletedClass = '' %}
                    {% set isCompletedCheck = '' %}

                    {% if issue.isCompleted is not empty %}
                        {% set isCompletedClass = ' is-completed' %}
                        {% set isCompletedCheck = 'checked' %}
                    {% endif %}

                    {% set toBeCloned = '' %}

                    {% if issue.name == "dGhpcyByb3cgc2hvdWxkIGJlIGNsb25lZA==" %}
                        {% set toBeCloned = ' to-be-cloned' %}
                    {% endif %}

                    <div class="row{{ toBeCloned }}{{ isCompletedClass }}" data-id="{{ issue.id }}" data-folder="{{ issue.folder }}" data-project="{{ issue.project }}" onclick="selectItem(this)">
                        <div class="info">
                            <span class="edit-button"><a href="#!" onclick="openEdit(this)">Edit</a></span>
                            <div class="left is-completed-box"><input type="checkbox" onclick="toggleIsComplete('{{ issue.id }}', this)" class="is-completed-check"{{ isCompletedCheck }}></div>
                            <div class="left">
                                <div class="name to-empty">{{ issue.name }}</div>
                                <div class="gray-info no-margin">
                                    {% if issue.isCompleted is not empty %}
                                        <span class="date-completed to-empty single-row"><b>Completed:</b> {{ issue.dateCompleted }}</span>
                                    {% endif %}
                                    <span class="labels to-empty single-row"><b>Labels:</b> {{ issue.labels }}</span>
                                    <span class="date-planned to-empty single-row"><b>Date Planned:</b> {{ issue.datePlanned }}</span>
                                    <span class="date-due to-empty single-row"><b>Due:</b> {{ issue.dateDue }}</span>
                                </div>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                        <div class="edit">
                            <div class="left item-name">
                                Name:<br>
                                <input type="text" class="text-item-name" value="{{ issue.name }}" placeholder="Issue name">
                            </div>

                            <div class="clear-both"></div>

                            <div class="left item-labels" style="margin-top: 20px;">
                                Labels:<br>
                                <input type="text" class="text-item-labels" value="{{ issue.labels }}" placeholder="Labels, comma seperated">
                            </div>

                            <div class="left item-todos" style="margin-top: 20px;">
                                Connected to dos:<br>
                                <input type="text" class="text-item-todos" value="{{ issue.todos }}" placeholder="Connected to dos, comma seperated">
                            </div>

                            <div class="clear-both"></div>

                            <div class="left item-dateplanned" style="margin-top: 20px;">
                                Date Planned:<br>
                                <input type="text" class="text-item-dateplanned date-picker" value="{{ issue.datePlanned }}" placeholder="Date planned">
                            </div>

                            <div class="left item-datedue" style="margin-top: 20px;">
                                Due Date:<br>
                                <input type="text" class="text-item-datedue date-picker" value="{{ issue.dateDue }}" placeholder="Due date">
                            </div>


                            <div class="clear-both"></div>
                            <div class="input-label" style="margin-top: 20px;">Description:</div>
                            <textarea class="text-item-note" placeholder="Description">{{ issue.description }}</textarea>
                            <button onclick="saveItem()" style="margin-left: 10px;">Save</button><button onclick="closeEdit(this)" style="margin-left: 10px;">Cancel</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clear-both"></div>

{% endblock %}

{% block stylesheets %}
    <style>
        .item-name {
            width: calc(100% - 50px);
            margin-left: 10px;
        }

        .text-item-name  {
            width: calc(100% - 10px) !important;
         }

        .item-dateplanned, .item-datedue, .item-labels, .item-todos {
            width: calc(50% - 30px) !important;
            float: left;
            margin-left: 10px;
        }

        .text-item-dateplanned, .text-item-datedue, .text-item-labels, .text-item-todos  {
            width: calc(100% - 10px) !important;
        }

        .input-label {
            margin-left: 10px;
        }

        .text-item-note {
            width: calc(100% - 60px);
            height: 150px;
            margin-left: 10px;
        }
    </style>

    {{ parent() }}
{% endblock %}
