{% extends 'default/base.html.twig' %}

{% block title %}
    {% if fail is defined and fail is not empty %}
        Issues - Developer's Notebook
    {% else %}
        {{ project.name }} - Projects - Developer's Notebook
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var postUrlToggle = "{{ path('projectIsComplete') }}";
        var postUrlDelete = "{{ path('projectDelete') }}";
        var projectsUrl = "{{ path('projects') }}";
        var renameProjectUrl = "{{ path('projectRename') }}";

        $(document).ready(function() {
            $('.editor-folder').click(function() {
                $('.tab-section').hide();
                $('.editor-folder').removeClass('selected');

                var dataSection = $(this).attr('data-section');
                $('.'+dataSection).show();
                $(this).addClass('selected');
            });

            $('.editor-folder:first').trigger('click');

            {% if project.isCompleted is not empty %}
                $('.is-completed').show();
            {% endif %}
        });

        function editName() {
            $('.project-name-info').hide();
            $('.project-name-edit').show();
            $('.text-item-name').focus();
        }

        function saveName(event) {
            if (event.which == 13) {
                var name = $('.text-item-name').val();

                if (name != "") {
                    var toSend = {
                        id: '{{ project.id }}',
                        name: name
                    }

                    $.post(renameProjectUrl, toSend, function(data) {
                        $('.project-name-info').text(data.name);
                        document.title = data.name + " - Projects - Developer's Notebook";
                        closeEditName();
                    });
                }
            }
            else if (event.which == 27) {
                closeEditName();
            }
        }

        function closeEditName() {
            $('.project-name-edit').hide();
            $('.project-name-info').show();
        }

        function goToContent(url, id) {
            window.location.href = url + "?selectedItem=" + id;
        }

        function goToContentNoId(url) {
            window.location.href = url;
        }
    </script>

    <script type="text/javascript" src="{{ asset('resources/js/projects.js') }}"></script>
{% endblock %}

{% block body %}


    {% if fail is defined and fail is not empty %}
        <div class="content">
            No such project exists!
        </div>
    {% else %}
        {% set isCompletedClass = '' %}
        {% set isCompletedCheck = '' %}

        {% if project.isCompleted is not empty %}
            {% set isCompletedClass = ' grayed-out' %}
            {% set isCompletedCheck = 'checked' %}
        {% endif %}

        <div class="content">
            <div class="page-title{{ isCompletedClass }}">
                <div class="complete-project"><input type="checkbox" onclick="toggleIsComplete('{{ project.id }}', this)"{{ isCompletedCheck }}> Project is completed</div>
                <span class="project-name-info">{{ project.name }}</span>
                <span class="project-name-edit"><input type="text" class="text-item-name" value="{{ project.name }}" placeholder="Project name" onkeyup="saveName(event)"></span>
            </div>
        </div>

        <div class="content-two-thirds-columns">
            <div class="narrow-column with-border-top">
                <div class="editor-folders">
                    <div class="editor-folder" data-section="journal-project-section">Journal</div>
                    <div class="editor-folder" data-section="issues-project-section">Issues</div>
                    <div class="editor-folder" data-section="todos-project-section">To Dos</div>
                    <div class="editor-folder" data-section="code-project-section">Code Cache</div>
                    <div class="editor-folder" data-section="notes-project-section">Notes</div>
                    <div class="editor-folder" data-section="bookmarks-project-section">Bookmarks</div>
                    <div style="margin: 10px;" class="small-font"><input type="checkbox" id="showCompleted" onclick="toggleCompletedProjects()"> Show completed items</div>
                    <div style="margin: 10px;" class="small-font"><a href="#!" onclick="editName()">Rename Project</a></div>
                    <div class="delete-red" style="margin: 10px;"><a href="#!" onclick="deleteProject('{{ project.id }}')">Delete Project</a></div>
                </div>
            </div>
            <div class="large-column">
                <div class="tab-section journal-project-section">
                    <div class="full-size-table small-rows">
                        {% for page in pages %}
                            {% if page.area == "journal" %}
                                <div class="row" onclick="goToContent('{{ path('journal') }}', '{{ page.id }}')">
                                    {{ page.content }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-section issues-project-section">
                    <div class="full-size-table small-rows">
                        {% for issue in issues %}
                            {% set isCompletedClass = '' %}

                            {% if issue.isCompleted is not empty %}
                                {% set isCompletedClass = ' is-completed' %}
                            {% endif %}

                            <div class="row{{ isCompletedClass }}" onclick="goToContentNoId('{{ path('singleIssue', {'id': issue.id}) }}')">
                                <div class="info">
                                    <div class="left">
                                        <div>
                                            <span class="item-id to-empty">#{{ issue.id }}</span>
                                            <span class="name to-empty">{{ issue.name }}</span>
                                        </div>
                                        <div class="gray-info">
                                            {% if issue.isCompleted is not empty %}
                                                <span class="date-completed to-empty single-row"><b>Completed:</b> {{ issue.dateCompleted }}</span>
                                            {% endif %}
                                            <span class="date-planned to-empty single-row"><b>Date Planned:</b> {{ issue.datePlanned }}</span>
                                            <span class="date-due to-empty single-row"><b>Due:</b> {{ issue.dateDue }}</span>
                                        </div>
                                        <div class="gray-info">
                                            <span class="labels to-empty single-row"><b>Labels:</b> {{ issue.labels }}</span>
                                            <span class="todos to-empty single-row"><b>To dos:</b> {{ issue.todos | raw}}</span>
                                        </div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-section todos-project-section">
                    <div class="full-size-table small-rows">
                        {% for todo in todos %}
                            {% set isCompletedClass = '' %}

                            {% if todo.isCompleted is not empty %}
                                {% set isCompletedClass = ' is-completed' %}
                            {% endif %}

                            <div class="row{{ isCompletedClass }}" onclick="goToContent('{{ path('todos') }}', '{{ todo.id }}')">
                                <div class="info">
                                    <div class="left">
                                        <div>
                                            <span class="item-id to-empty">#{{ todo.id }}</span>
                                            <span class="name to-empty">{{ todo.name }}</span>
                                        </div>
                                        <div class="gray-info no-margin">
                                            {% if todo.isCompleted is not empty %}
                                                <span class="date-completed to-empty single-row"><b>Completed:</b> {{ todo.dateCompleted }}</span>
                                            {% endif %}

                                            <span class="issues to-empty single-row"><b>Issues:</b> {{ todo.issuesHtml | raw }}</span>
                                            <span class="priority to-empty single-row"><b>Priority:</b> {{ todo.priority }}</span>
                                            <span class="date-planned to-empty single-row"><b>Date Planned:</b> {{ todo.datePlanned }}</span>
                                            <span class="date-due to-empty single-row"><b>Due:</b> {{ todo.dateDue }}</span>
                                        </div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-section code-project-section">
                    <div class="full-size-table small-rows">
                        {% for page in pages %}
                            {% if page.area == "code" %}
                                <div class="row" onclick="goToContent('{{ path('codeCache') }}', '{{ page.id }}')">
                                    {{ page.content }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-section notes-project-section">
                    <div class="full-size-table small-rows">
                        {% for page in pages %}
                            {% if page.area == "notes" %}
                                <div class="row" onclick="goToContent('{{ path('notes') }}', '{{ page.id }}')">
                                    {{ page.content }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-section bookmarks-project-section">
                    <div class="full-size-table small-rows">
                        {% for bookmark in bookmarks %}
                            <div class="row"  onclick="goToContent('{{ path('bookmarks') }}', '{{ bookmark.id }}')">
                                <div class="info">
                                    <span class="name">{{ bookmark.name }}</span>
                                    <span class="url gray-info"><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.croppedUrl }}</a></span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .complete-project {
            float: right;
            font-size: 14px;
            font-weight: normal;
        }

        .project-name-edit {
            display: none;
        }

        .text-item-name {
            width: 500px !important;
            font-size: 25px !important;
        }
    </style>
{% endblock %}
