{% extends 'default/base.html.twig' %}

{% block title %}Projects - Developer's Notebook{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var postUrlCreate = "{{ path('projectCreate') }}";
        var postUrlToggle = "{{ path('projectIsComplete') }}";
        var postUrlDelete = "{{ path('projectDelete') }}";
        var projectsUrl = "{{ path('projects') }}";
    </script>

    <script type="text/javascript" src="{{ asset('resources/js/projects.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="content">
        <div class="page-title">Projects</div>

        <div class="show-completed-projects"><input type="checkbox" id="showCompleted" onclick="toggleCompletedProjects()"> Show completed projects</div>
        <input type="text" id="newproject" placeholder="Add new project" style="width: 700px; margin-bottom: 40px;" onkeyup="addNewProject(event, this)">

        <div class="full-size-table" id="itemTable">
            {% for project in projects %}
                {% set isCompletedClass = '' %}
                {% set isCompletedCheck = '' %}

                {% if project.isCompleted is not empty %}
                    {% set isCompletedClass = ' is-completed' %}
                    {% set isCompletedCheck = 'checked' %}
                {% endif %}
                
                {% set toBeCloned = '' %}

                {% if project.name == "dGhpcyByb3cgc2hvdWxkIGJlIGNsb25lZA==" %}
                    {% set toBeCloned = ' to-be-cloned' %}
                {% endif %}

                <div class="row{{ toBeCloned }}{{ isCompletedClass }}" data-id="{{ project.id }}">
                    <span class="delete-row"><a href="#!" onclick="deleteProject('{{ project.id }}')" class="delete-link">Delete</a></span>
                    <span class="is-completed-box"><input type="checkbox" onclick="toggleIsComplete('{{ project.id }}', this)" class="is-completed-check"{{ isCompletedCheck }}></span>
                    <a class="clickable-area" href="{{ path('singleProject', {'id': project.id}) }}">
                        <span class="name to-empty">{{ project.name }}</span>

                        {% if project.isCompleted is not empty %}
                            <span class="date gray-info to-empty">Completed: {{ project.dateCompleted }}</span>
                        {% else %}
                            <span class="date gray-info to-empty">{{ project.dateModified }}</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .show-completed-projects {
            float: right;
            font-size: 14px;
        }
    </style>
{% endblock %}
