{% extends 'default/base.html.twig' %}

{% block title %}{{ project.name }} - Developer's Notebook{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var postUrlCreate = "{{ path('projectCreate') }}";
        var postUrlToggle = "{{ path('projectIsComplete') }}";
        var postUrlDelete = "{{ path('projectDelete') }}";
        var projectsUrl = "{{ path('projects') }}";

        $(document).ready(function() {
            $('.editor-folder').click(function() {
                $('.tab-section').hide();
                $('.editor-folder').removeClass('selected');

                var dataSection = $(this).attr('data-section');
                $('.'+dataSection).show();
                $(this).addClass('selected');
            });

            $('.editor-folder:first').trigger('click');
        });

        function goToContent(url, id) {
            window.location.href = url + "?selectedItem=" + id;
        }
    </script>

    <script type="text/javascript" src="{{ asset('resources/js/projects.js') }}"></script>
{% endblock %}

{% block body %}


    {% if fail is defined and fail is not empty %}
        <div class="content">
            No such project exists!
        </div>
    {% else %}
        {% set isCompletedClass = '' %}
        {% set isCompletedCheck = '' %}

        {% if project.isCompleted is not empty %}
            {% set isCompletedClass = ' grayed-out' %}
            {% set isCompletedCheck = 'checked' %}
        {% endif %}

        <div class="content">
            <div class="page-title{{ isCompletedClass }}">
                <div class="complete-project"><input type="checkbox" id="showCompleted" onclick="toggleIsComplete('{{ project.id }}', this)"{{ isCompletedCheck }}> Project is completed</div>
                {{ project.name }}
            </div>
        </div>

        <div class="content-two-thirds-columns">
            <div class="narrow-column with-border-top">
                <div class="editor-folders">
                    <div class="editor-folder" data-section="journal-project-section">Journal</div>
                    <div class="editor-folder" data-section="issues-project-section">Issues</div>
                    <div class="editor-folder" data-section="todos-project-section">To Dos</div>
                    <div class="editor-folder" data-section="code-project-section">Code Cache</div>
                    <div class="editor-folder" data-section="notes-project-section">Notes</div>
                    <div class="editor-folder" data-section="bookmarks-project-section">Bookmarks</div>
                    <div class="delete-red" style="margin: 10px;"><a href="#!" onclick="deleteProject('{{ project.id }}')">Delete Project</a></div>
                </div>
            </div>
            <div class="large-column">
                <div class="tab-section journal-project-section">
                    <div class="full-size-table small-rows">
                        {% for page in pages %}
                            {% if page.area == "journal" %}
                                <div class="row" onclick="goToContent('{{ path('journal') }}', '{{ page.id }}')">
                                    {{ page.content }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-section issues-project-section">
                    <div class="full-size-table small-rows">
                    </div>
                </div>
                <div class="tab-section todos-project-section">
                    <div class="full-size-table small-rows">
                    </div>
                </div>
                <div class="tab-section code-project-section">
                    <div class="full-size-table small-rows">
                        {% for page in pages %}
                            {% if page.area == "code" %}
                                <div class="row" onclick="goToContent('{{ path('codeCache') }}', '{{ page.id }}')">
                                    {{ page.content }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-section notes-project-section">
                    <div class="full-size-table small-rows">
                        {% for page in pages %}
                            {% if page.area == "notes" %}
                                <div class="row" onclick="goToContent('{{ path('notes') }}', '{{ page.id }}')">
                                    {{ page.content }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-section bookmarks-project-section">
                    <div class="full-size-table small-rows">
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .complete-project {
            float: right;
            font-size: 14px;
            font-weight: normal;
        }
    </style>
{% endblock %}
