{% extends 'default/base.html.twig' %}

{% block title %}
    {% if query is defined %}
        Search for "{{ query }}" - Developer's Notebook
    {% else %}
        No search results found - Developer's Notebook
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    	var journalSpinner;
    	var codeCacheSpinner;
    	var notesSpinner;
    	var todosSpinner;
    	var issuesSpinner;
    	var bookmarksSpinner;
    	var projectsSpinner;    	
    
        $(document).ready(function() {
			searchPages();
        });

		function searchPages() {
			journalSpinner = new Spinner(ajaxLoaderLargeOpts).spin(document.getElementById('journalSpinner'));
			codeCacheSpinner = new Spinner(ajaxLoaderLargeOpts).spin(document.getElementById('codeCacheSpinner'));
			notesSpinner = new Spinner(ajaxLoaderLargeOpts).spin(document.getElementById('notesSpinner'));
			
			var toSend = {
                q: "{{ query }}"
            }

            $.post("{{ path('searchPages') }}", toSend, function(data) {
                journalSpinner.stop();
                codeCacheSpinner.stop();
                notesSpinner.stop();
	            
                $.each(data, function(key, value) {
	                var div = $('#pageClone').clone();
		            div.find('.name').text(value.previewContent);
		            div.find('.date-modified-content').text(value.date);
		            div.removeClass('to-be-cloned');
		            div.attr('id', '');
			
	                if (value.area == "journal") {
			            div.click(function() {
			                window.location.href = "{{ path('journal') }}?selectedItem=" + value.id;
			            });
			            
			            $('#journalResults').append(div);
		            }
		            else if (value.area == "code") {
			            div.click(function() {
			                window.location.href = "{{ path('codeCache') }}?selectedItem=" + value.id;
			            });
			            
			            $('#codeCacheResults').append(div);
		            }
					else if (value.area == "notes") {
			            div.click(function() {
			                window.location.href = "{{ path('notes') }}?selectedItem=" + value.id;
			            });
			            
			            $('#notesResults').append(div);
		            }
				}).fail(function() {
                    showMessage('error', generalErrorMessage);
                    closeGeneralAjaxLoader();
                });
                
                searchSecondRow();
            });
		}
		
		function searchSecondRow() {
			todosSpinner = new Spinner(ajaxLoaderLargeOpts).spin(document.getElementById('todosSpinner'));
			issuesSpinner = new Spinner(ajaxLoaderLargeOpts).spin(document.getElementById('issuesSpinner'));
			bookmarksSpinner = new Spinner(ajaxLoaderLargeOpts).spin(document.getElementById('bookmarksSpinner'));
			
			var toSend = {
                q: "{{ query }}"
            }

            $.post("{{ path('searchTodosIssuesBookmarks') }}", toSend, function(data) {
                todosSpinner.stop();
                issuesSpinner.stop();
                bookmarksSpinner.stop();
	            
                $.each(data, function(key, value) {
	                if (value.area == "todo") {
    	                var div = $('#todoClone').clone();
			            div.removeClass('to-be-cloned');
			            div.attr('id', '');
			            div.find('.item-id').text("#" + value.itemId);
			            div.find('.name').text(value.name);
    		            div.find('.priority-content').text(value.priority);
    		            div.find('.date-planned-content').text(value.datePlanned);    		            
    		            div.find('.date-due-content').text(value.dateDue);    		            
		                
			            div.click(function() {
			                window.location.href = "{{ path('todos') }}?selectedItemId=" + value.itemId;
			            });
			            
			            $('#todosResults').append(div);
		            }
		            else if (value.area == "issues") {
    	                var div = $('#issuesClone').clone();
			            div.removeClass('to-be-cloned');
			            div.attr('id', '');
			            div.find('.item-id').text("#" + value.itemId);
			            div.find('.name').text(value.name);
    		            div.find('.date-planned-content').text(value.datePlanned);    		            
    		            div.find('.date-due-content').text(value.dateDue);    		            
		                
			            div.click(function() {
			                window.location.href = "{{ path('issues') }}" + value.itemId;
			            });
			            
			            $('#issuesResults').append(div);
		            }
					else if (value.area == "bookmarks") {
			            var div = $('#bookmarksClone').clone();
			            div.removeClass('to-be-cloned');
			            div.attr('id', '');
			            div.find('.name').text(value.name);
    		            div.find('.url').find('a').attr('href', value.url);
    		            div.find('.url').find('a').text(value.croppedUrl);
		                
			            div.click(function() {
			                window.location.href = "{{ path('bookmarks') }}?selectedItem=" + value.id;
			            });
			            
			            $('#bookmarksResults').append(div);
		            }
				});
                
                searchThirdRow();
            }).fail(function() {
                showMessage('error', generalErrorMessage);
                closeGeneralAjaxLoader();
            });
		}
		
        function searchThirdRow() {
			projectsSpinner = new Spinner(ajaxLoaderLargeOpts).spin(document.getElementById('projectsSpinner'));
			
			var toSend = {
                q: "{{ query }}"
            }

            $.post("{{ path('searchProjects') }}", toSend, function(data) {
                projectsSpinner.stop();
	            
                $.each(data, function(key, value) {
	                var div = $('#projectsClone').clone();
		            div.removeClass('to-be-cloned');
		            div.attr('id', '');
		            div.find('.name').text(value.name);
		            div.find('.date-modified').text(value.date);    		            
	                
		            div.click(function() {
		                window.location.href = "{{ path('projects') }}" + value.id;
		            });
		            
		            $('#projectsResults').append(div);
				});
            }).fail(function() {
                showMessage('error', generalErrorMessage);
                closeGeneralAjaxLoader();
            });
        }
    </script>
{% endblock %}

{% block body %}

    <div class="content">
        <div class="page-title">Search results for "{{ query }}"</div>
    </div>
    
    <div class="section">
        <div class="content-even-three-columns">
            <div class="column">
                <div class="column-title">Journal</div>
                <div class="wrapper">
                    <div class="full-size-table small-rows" id="journalResults"></div>
                    <span class="ajax-loader" id="journalSpinner"></span>
                </div>
            </div>
            <div class="column">
                <div class="column-title">Code Cache</div>
                <div class="wrapper">
                    <div class="full-size-table small-rows" id="codeCacheResults"></div>
                    <span class="ajax-loader" id="codeCacheSpinner"></span>
                </div>
            </div>
            <div class="column">
                <div class="column-title">Notes</div>
                <div class="wrapper">
                    <div class="full-size-table small-rows" id="notesResults"></div>
                    <span class="ajax-loader" id="notesSpinner"></span>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>

    <div class="section">
        <div class="content-even-three-columns">
            <div class="column">
                <div class="column-title">To dos</div>
                <div class="wrapper">
                    <div class="full-size-table small-rows" id="todosResults"></div>
                    <span class="ajax-loader" id="todosSpinner"></span>
                </div>
            </div>
            <div class="column">
                <div class="column-title">Issues</div>
                <div class="wrapper">
                    <div class="full-size-table small-rows" id="issuesResults"></div>
                    <span class="ajax-loader" id="issuesSpinner"></span>
                </div>
            </div>
            <div class="column">
                <div class="column-title">Bookmarks</div>
                <div class="wrapper">
                    <div class="full-size-table small-rows" id="bookmarksResults"></div>
                    <span class="ajax-loader" id="bookmarksSpinner"></span>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
    
    <div class="section">
        <div class="content-even-three-columns">
            <div class="column">
                <div class="column-title">Projects</div>
                <div class="wrapper">
                    <div class="full-size-table small-rows" id="projectsResults"></div>
                    <span class="ajax-loader" id="projectsSpinner"></span>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
    



	<div class="row to-be-cloned" id="pageClone">
        <div class="name"></div>
        <div class="gray-info">
            <span class="date-modified single-row"><b>Date Modified:</b> <span class="date-modified-content"></span></span>
        </div>
    </div>

	<div class="row to-be-cloned" id="todoClone">
		<div>
			<span class="item-id"></span>
			<span class="name"></span>
		</div>
	    <div class="gray-info">
	        <span class="priority single-row"><b>Priority:</b> <span class="priority-content"></span></span>
	        <span class="date-planned single-row"><b>Date Planned:</b> <span class="date-planned-content"></span></span>
	        <span class="date-due single-row"><b>Due:</b> <span class="date-due-content"></span></span>
	    </div>
	</div>
	
    <div class="row to-be-cloned" id="issuesClone">
		<div>
			<span class="item-id"></span>
			<span class="name"></span>
		</div>
        <div class="gray-info">
	        <span class="date-planned single-row"><b>Date Planned:</b> <span class="date-planned-content"></span></span>
	        <span class="date-due single-row"><b>Due:</b> <span class="date-due-content"></span></span>
        </div>
    </div>
    
    <div class="row to-be-cloned" id="bookmarksClone">
        <div class="name"></div>
        <div class="gray-info">
            <span class="url"><a href="" target="_blank"></a></span>
        </div>
    </div>
    
    <div class="row to-be-cloned" id="projectsClone">
        <div class="name"></div>
        <div class="gray-info">
            <span class="date-modified"></span>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <style>
    	.wrapper {
	    	min-height: 80px;
	    	position: relative;
    	}
    </style>
{% endblock %}