{% extends 'default/base.html.twig' %}

{% block title %}Settings - Developer's Notebook{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var weatherLocation = "{{ attribute(generalSettings, 'weatherLocation') }}";
        var weatherUnit = "{{ attribute(generalSettings, 'weatherUnit') }}";

        var defaultTheme = "{{ attribute(editorSettings, 'defaultTheme') }}";
        var standardSyntaxCode = "{{ attribute(editorSettings, 'defaultSyntaxModeCode') }}";
        var standardSyntaxJournal = "{{ attribute(editorSettings, 'defaultSyntaxModeJournal') }}";
        var standardSyntaxNotebook = "{{ attribute(editorSettings, 'defaultSyntaxModeNotebook') }}";
        var saveGeneralSettingsUrl = "{{ path('generalSaveAllSettings') }}";
        var saveEditorSettingsUrl = "{{ path('editorSaveAllSettings') }}";

        $(document).ready(function() {
            $('#weatherLocation').val(weatherLocation);
            $('#weatherUnit').val(weatherUnit);
            
            {% if attribute(generalSettings, 'showWeather') is not empty %}
                $('#showWeather').prop('checked', true);
            {% endif %}

            $('#theme').val(defaultTheme);
            $('#defaultModeCode').val(standardSyntaxCode);
            $('#defaultModeJournal').val(standardSyntaxJournal);
            $('#defaultModeNotebook').val(standardSyntaxNotebook);


            {% if attribute(editorSettings, 'highlightActiveLine') is not empty %}
                $('#highlightActiveLine').prop('checked', true);
            {% endif %}
            {% if attribute(editorSettings, 'wrapSearch') is not empty %}
                $('#wrapSearch').prop('checked', true);
            {% endif %}
            {% if attribute(editorSettings, 'caseSensitiveSearch') is not empty %}
                $('#caseSensitive').prop('checked', true);
            {% endif %}
            {% if attribute(editorSettings, 'matchWholeWordsSearch') is not empty %}
                $('#wholeWord').prop('checked', true);
            {% endif %}
            {% if attribute(editorSettings, 'isRegexSearch') is not empty %}
                $('#regExp').prop('checked', true);
            {% endif %}
            {% if attribute(editorSettings, 'skipCurrentLineSearch') is not empty %}
            $('#skipCurrent').prop('checked', true);
            {% endif %}
        });

        function saveGeneralSettings() {
            var toSend = {
                showWeather: $('#showWeather').prop('checked'),
                weatherLocation: $('#weatherLocation').val(),
                weatherUnit: $('#weatherUnit').val(),
            }

            $.post(saveGeneralSettingsUrl, toSend, function(data) {
                showMessage(data.msgType, data.message);
            });
        }

        function saveEditorSettings() {
            var toSend = {
                defaultTheme: $('#theme').val(),
                defaultSyntaxCode: $('#defaultModeCode').val(),
                defaultSyntaxJournal: $('#defaultModeJournal').val(),
                defaultSyntaxNotebook: $('#defaultModeNotebook').val(),
                highlightActiveLine: $('#highlightActiveLine').prop('checked'),
                wrapSearch: $('#wrapSearch').prop('checked'),
                caseSensitive: $('#caseSensitive').prop('checked'),
                wholeWord: $('#wholeWord').prop('checked'),
                regExp: $('#regExp').prop('checked'),
                skipCurrent: $('#skipCurrent').prop('checked')
            }

            $.post(saveEditorSettingsUrl, toSend, function(data) {
                showMessage(data.msgType, data.message);
            });
        }
    </script>
{% endblock %}

{% block body %}

    <div class="content">
        <div class="page-title"><img src="{{ asset('resources/img/gear.svg') }}" style="width: 22px;"> Settings</div>
        <div class="section">
            <div class="section-title">General Settings</div>
            <div class="sub-section content-two-columns">
                <div class="column">
                    <div class="option">
	                    <input type="checkbox" id="showWeather"><label for="showWeather">Show weather on the homepage</label>
                    </div>                                    
                    <div class="option">
                        <div class="label">Weather location:</div>
                        <input type="text" id="weatherLocation" placeholder="Weather location">
                    </div>
                    <div class="option">
                        <div class="label">Weather unit:</div>
                        <select id="weatherUnit">
                            <option selected value="c">C</option>
                            <option value="f">F</option>
                        </select>
                    </div>
                </div>
                <div class="column">

                </div>

                <div class="clear-both"></div>

                <div class="align-center">
                    <button onclick="saveGeneralSettings()" class="blue-button">Save General Settings</button>
                </div>
            </div>
        </div>
        <div class="section border-top">
            <div class="section-title">Editor Settings</div>
            <div class="sub-section content-two-columns">
                <div class="column">
                    <div class="option">
                        <div class="label">Editor theme:</div>
                        <select id="theme">
                            {{ editorThemes|raw }}
                        </select>
                    </div>
                    <div class="option">
                        <div class="label">Default Syntax Highlighting for Code Cache:</div>
                        <select id="defaultModeCode">
                            {{ syntaxOptions|raw }}
                        </select>
                    </div>
                    <div class="option">
                        <div class="label">Default Syntax Highlighting for your journal:</div>
                        <select id="defaultModeJournal">
                            {{ syntaxOptions|raw }}
                        </select>
                    </div>
                    <div class="option">
                        <div class="label">Default Syntax Highlighting for your notebook:</div>
                        <select id="defaultModeNotebook">
                            {{ syntaxOptions|raw }}
                        </select>
                    </div>
                    <div class="option">
                        <input type="checkbox" id="highlightActiveLine"><label for="highlightActiveLine">Highlight active line</label><br>
                    </div>
                </div>
                <div class="column">
                    <input type="checkbox" id="wrapSearch"><label for="wrapSearch">Wrap search</label><br>
                    <input type="checkbox" id="caseSensitive"><label for="caseSensitive">Case sensitive</label><br>
                    <input type="checkbox" id="wholeWord"><label for="wholeWord">Match whole words only</label><br>
                    <input type="checkbox" id="regExp"><label for="regExp">Search is a regular expression</label><br>
                    <input type="checkbox" id="skipCurrent"><label for="skipCurrent">Skip current line</label>
                </div>

                <div class="clear-both"></div>

                <div class="align-center">
                    <button onclick="saveEditorSettings()" class="blue-button">Save Editor Settings</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        label {
            margin-left: 5px;
        }

        .option {
            margin-bottom: 20px;
        }

        .option input[type="text"] {
            width: 50%;
        }
    </style>
{% endblock %}
