{% extends 'default/base.html.twig' %}

{% block title %}To Dos - Developer's Notebook{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var standardArea = "{{ standardArea }}";
        var createItemUrl = "{{ path('todosCreateTodo') }}";
        var saveItemUrl = "{{ path('todosSaveTodo') }}";
        var removeItemUrl = "{{ path('todosRemove') }}";
        var movePageToFolderUrl = "{{ path('todosMovePageToFolder') }}";
        var removePageFromFoldersUrl = "{{ path('todosRemovePageFromFolders') }}";
        var movePageToProjectUrl = "{{ path('todosMovePageToProject') }}";

        $(document).ready(function() {
            $('.date-picker').datepicker({
                dateFormat: "yy-mm-dd"
            });
        });

        function createCallback(data) {
            var div = $('.row:first').clone();
            div.show();
            div.attr('data-id', data.id);
            div.attr('data-folder', data.folder);
            div.attr('data-project', data.project);
            div.attr('data-item-id', data.itemId);
            div.find('input').val("");
            div.find('textarea').val("");
            div.find('.to-empty').text('');
            div.find('.is-completed-check').prop('checked', false);
            div.removeClass('to-be-cloned');
            div.removeClass('is-completed');
            $('#itemTable').prepend(div);

            div.find('.hasDatepicker').removeClass('hasDatepicker');
            div.find('.date-picker').datepicker("destroy");
            div.find('.date-picker').datepicker({
                dateFormat: "yy-mm-dd"
            });

            div.click(function() {
                selectItem($(this));
            });

            openEdit(div.find('.edit-button').find('a'));
            div.find('.text-item-name').select();

            setDraggableAndDroppable();
        }

        function saveItem() {
            var selected = $('.row.selected');
            
		    var target = selected.find('.ajax-loader');
			var spinner = new Spinner(ajaxLoaderSmallOpts).spin(target.get(0));

            var toSend = {
                id: selected.attr('data-id'),
                name: selected.find('.text-item-name').val(),
                priority: selected.find('.select-item-priority').val(),
                issues: selected.find('.text-item-issues').val(),
                datePlanned: selected.find('.text-item-dateplanned').val(),
                dateDue: selected.find('.text-item-datedue').val(),
                notes: selected.find('.text-item-note').val()
            }

            $.post(saveItemUrl, toSend, function(data) {
                var info = selected.find('.info');
                info.find('.item-id').text("#" + data.itemId);
                info.find('.name').text(data.name);
                info.find('.issues').html("<b>Issues:</b> " + data.issuesHtml);
                info.find('.priority').html("<b>Priority:</b> " + data.priority);
                info.find('.date-planned').html("<b>Date Planned:</b> " + data.datePlanned);
                info.find('.date-due').html("<b>Due:</b> " + data.dateDue);
                
 		        spinner.stop();

                closeEdit(selected.find('.edit'));
            });
        }

        function openEdit(obj) {
            var row = $(obj).parents('.row');
            var priority = row.find('.priority').text().replace(/\D/g,'');

            if (priority == "") {
                priority = "1";
            }

            row.find('.select-item-priority').val(priority);

            row.find('.info').hide();
            row.find('.edit').show();
            row.addClass('edit-mode');

            selectItem(row);

            setAutocomplete(row.find('.text-item-issues'));
        }

        function toggleCompletedTodos(button) {
            if (!$(button).hasClass('selected')) {
                $('.is-completed').show();
                $(button).addClass('selected');
            }
            else {
                $('.is-completed').hide();
                $(button).removeClass('selected');
            }
        }

        function toggleIsComplete(id, obj) {
            var isComplete = $(obj).prop('checked');

            var toSend = {
                id: id,
                isComplete: isComplete
            }

            $.post("{{ path('todosIsComplete') }}", toSend, function(data) {
                var row = $(obj).parents('.row');

                if (data.isCompleted) {
                    row.addClass('is-completed');
                    row.removeClass('selected');
                    row.find('.date-completed').text("Completed: " + data.date);
					
					if (!$('#toggleIsCompleted').hasClass('selected')) {
		                row.hide();	                
	                }
                }
                else {
                    row.removeClass('is-completed');
                    row.find('.date-completed').remove();
	                row.show();
                }
            });
        }

        function setAutocomplete(obj) {
            $(obj).autocomplete({
                source: function (request, response) {
                    $.getJSON('{{ path('issuesGetListOfIssues') }}', {
                        term: autocompleteExtractLast(request.term)
                    }, response);
                },
                search: function () {
                    var term = autocompleteExtractLast(this.value);
                    if (term.length < 1) {
                        return false;
                    }
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var terms = autocompleteSplit(this.value);
                    terms.pop();
                    terms.push(ui.item.value);
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });
        }
    </script>
    <script type="text/javascript" src="{{ asset('resources/js/folders.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/js/bookmarks-todos-issues.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="content-two-thirds-columns">
        <div class="narrow-column gray">
            <div class="toolbar">
                <div class="toolbar-content">
                    <a href="#!" onclick="createFolder()" title="Create a new folder">+</a><a href="#!" onclick="removeFolder('{{ path('folderRemoveFolder') }}')" title="Remove selected folder">&ndash;</a>
                </div>
            </div>
            <div class="editor-folders">
                <div class="editor-folders">
                    <div class="editor-folder all-projects-folders" data-id="-1">
                        All
                    </div>
                </div>
                <div class="section-label">Projects</div>
                <div class="editor-folders projects">
                    {% for project in projects %}
                        <div class="editor-folder project" data-id="{{ project.id }}">
                            {{ project.name }}
                        </div>
                    {% endfor %}
                </div>

                <div class="section-label">Folders</div>
                <div class="editor-folders folders" data-url-create="{{ path('folderCreateFolder') }}">
                    {% for folder in folders %}
                        <div class="editor-folder folder" data-id="{{ folder.id }}">
                            {{ folder.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="large-column">
            <div class="toolbar">
                <div class="toolbar-content">
                    <div class="toolbar-section">
                        <a href="#!" onclick="createItem()" title="Create a new to do">+</a><a href="#!" onclick="removeItem()" title="Remove selected to do">&ndash;</a>
                    </div>
                    <div class="toolbar-section">
                        <a href="#!" onclick="toggleCompletedTodos(this)" id="toggleIsCompleted" title="Toggle completed to dos">&#10004;</a>
                    </div>
                </div>
            </div>
            <div class="full-size-table small-rows" id="itemTable">
                {% for todo in todos %}
                    {% set isCompletedClass = '' %}
                    {% set isCompletedCheck = '' %}

                    {% if todo.isCompleted is not empty %}
                        {% set isCompletedClass = ' is-completed' %}
                        {% set isCompletedCheck = 'checked' %}
                    {% endif %}

                    {% set toBeCloned = '' %}

                    {% if todo.name == "dGhpcyByb3cgc2hvdWxkIGJlIGNsb25lZA==" %}
                        {% set toBeCloned = ' to-be-cloned' %}
                    {% endif %}

                    <div class="row{{ toBeCloned }}{{ isCompletedClass }}" data-id="{{ todo.id }}" data-folder="{{ todo.folder }}" data-project="{{ todo.project }}" data-item-id="{{ todo.itemId }}" onclick="selectItem(this)">
                        <div class="info">
                            <span class="edit-button"><a href="#!" onclick="openEdit(this)">Edit</a></span>
                            <div class="left is-completed-box"><input type="checkbox" onclick="toggleIsComplete('{{ todo.id }}', this)" class="is-completed-check"{{ isCompletedCheck }}></div>
                            <div class="left">
                                <div>
                                    <span class="item-id to-empty">#{{ todo.itemId }}</span>
                                    <span class="name to-empty">{{ todo.name }}</span>
                                </div>
                                <div class="gray-info no-margin">
                                    {% if todo.isCompleted is not empty %}
                                        <span class="date-completed to-empty single-row"><b>Completed:</b> {{ todo.dateCompleted }}</span>
                                    {% endif %}

                                    <span class="issues to-empty single-row"><b>Issues:</b> {{ todo.issuesHtml | raw }}</span>
                                    <span class="priority to-empty single-row"><b>Priority:</b> {{ todo.priority }}</span>
                                    <span class="date-planned to-empty single-row"><b>Date Planned:</b> {{ todo.datePlanned }}</span>
                                    <span class="date-due to-empty single-row"><b>Due:</b> {{ todo.dateDue }}</span>
                                </div>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                        <div class="edit">
                            <div class="left item-name">
                                Name:<br>
                                <input type="text" class="text-item-name" value="{{ todo.name }}" placeholder="To do name">
                            </div>

                            <div class="left item-priority">
                                Priority:<br>
                                <select class="select-item-priority">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>

                            <div class="clear-both"></div>

                            <div class="left item-issues" style="margin-top: 20px;">
                                Connected issues:<br>
                                <input type="text" class="text-item-issues" value="{% for issue in todo.issues %}{{ issue.id }}{% if not loop.last %}, {% endif %}{% endfor %}" placeholder="Connected issues, comma seperated">
                            </div>

                            <div class="clear-both"></div>

                            <div class="left item-dateplanned" style="margin-top: 20px;">
                                Date Planned:<br>
                                <input type="text" class="text-item-dateplanned date-picker" value="{{ todo.datePlanned }}" placeholder="Date planned">
                            </div>

                            <div class="left item-datedue" style="margin-top: 20px;">
                                Due Date:<br>
                                <input type="text" class="text-item-datedue date-picker" value="{{ todo.dateDue }}" placeholder="Due date">
                            </div>


                            <div class="clear-both"></div>
                            <div class="input-label" style="margin-top: 20px;">Notes:</div>
                            <textarea class="text-item-note" placeholder="To do Notes">{{ todo.notes }}</textarea>
                            <button onclick="saveItem()" class="blue-button has-neighbor-button" style="margin-left: 10px;">Save</button><button onclick="closeEdit(this)" class="white-button has-neighbor-button">Cancel</button>
                            <div class="ajax-loader-container"><span class="ajax-loader"></span></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clear-both"></div>

{% endblock %}

{% block stylesheets %}
    <style>
        .item-name {
            width: calc(100% - 120px);
            margin-left: 10px;
        }

        .item-priority {
            width: 70px;
            margin-left: 10px;
        }

        .text-item-name  {
            width: calc(100% - 10px) !important;
         }

        .item-issues {
            width: calc(100% - 50px);
            margin-left: 10px;
        }

        .text-item-issues  {
            width: calc(100% - 10px) !important;
        }

        .item-dateplanned, .item-datedue {
            width: calc(50% - 30px) !important;
            float: left;
            margin-left: 10px;
        }

        .text-item-dateplanned, .text-item-datedue  {
            width: calc(100% - 10px) !important;
        }

        .input-label {
            margin-left: 10px;
        }

        .text-item-note {
            width: calc(100% - 60px);
            height: 50px;
            margin-left: 10px;
        }
    </style>

    {{ parent() }}
{% endblock %}
