{% block editorcontent %}
    <div class="content-three-columns">
        <div class="first-column">
            <div class="toolbar">
                <div class="toolbar-content">
                    <a href="#!" onclick="createFolder()" title="Create a new folder">+</a><a href="#!" onclick="removeFolder()" title="Remove selected folder">&ndash;</a>
                </div>
            </div>
            <div class="column-content">
				<div class="editor-folders">
                	<div class="editor-folder all-projects-folders" data-id="-1">
                		All
                	</div>
                </div>
                <div class="section-label">Projects</div>
                <div class="editor-folders projects">
					{% for project in projects %}
			            <div class="editor-folder" data-id="{{ project.id }}">
			            	{{ project.name }}
			            </div>
					{% endfor %}
                </div>
                
                <div class="section-label">Folders</div>
                <div class="editor-folders folders">
                	{% for folder in folders %}
			            <div class="editor-folder folder" data-id="{{ folder.id }}">
			            	{{ folder.name }}
			            </div>
					{% endfor %}
                </div>
            </div>
        </div>
        <div class="second-column">
            <div class="toolbar">
                <div class="toolbar-content">
                    <a href="#!" onclick="createPage()" title="Create a new page">+</a><a href="#!" onclick="removePage()" title="Delete selected page">&ndash;</a>
                </div>
            </div>
            <div class="editor-pages">
	            {% for page in pages %}
		            <div class="editor-page" data-id="{{ page.id }}" data-syntax="{{ page.syntax }}" data-folder="{{ page.folder }}" data-project="{{ page.project }}">
		            	<div class="preview">{{ page.previewContent }}</div>
		            	<div class="date">{{ page.date }}</div>
		            	<div class="content">{{ page.content }}</div>
		            </div>
				{% endfor %}
            </div>
        </div>
        <div class="third-column editor-container">
            <div class="toolbar">
                <div class="toolbar-content">
                    <div class="toolbar-section">
                        <a href="#!" onclick="toggleFullScreen(this)" title="Toggle full screen">&#8598;</a>
                    </div>
                    <div class="toolbar-section">
                        <a href="#!" onclick="savePage()" title="Save"><img src="{{ asset('resources/img/save.svg') }}"></a>
                    </div>
                    <div class="toolbar-section">
                        <a href="#!" onclick="toggleInvisibles(this)" title="Toggle invisible characters">&para;</a><a href="#!" onclick="toggleIndentGuides(this)" title="Toggle indent guides">&#8674;</a><a href="#!" onclick="toggleReadOnly(this)" title="Toggle read only"><img src="{{ asset('resources/img/lock.svg') }}"><!-- &#10007; --></a>
                    </div>
                    <div class="toolbar-section">
                        <a href="#!" onclick="undo()" title="Undo">&#8634;</a><a href="#!" onclick="redo()" title="Redo">&#8635;</a>
                    </div>
                    <div class="toolbar-section">
                        <a href="#!" onclick="toggleFindReplace(this)" title="Toggle find and replace toolbar"><img src="{{ asset('resources/img/magnifying-glass.svg') }}"></a>
                    </div>
                    <div class="toolbar-section no-line">
                        <label for="scrollToLine">Line #</label><input type="text" id="scrollToLine" onchange="scrollToLine(this)">
                    </div>
                    <div class="right">
                        <div class="toolbar-section">
                            <span id="rowPos"></span>:<span id="colPos"></span>
                        </div>
                        <select onchange="changeMode(this)" id="mode" style="margin-left: 8px;">
                            {{ syntaxOptions|raw }}
                        </select>
                        <a href="#!" onclick="openPopup('editorOptions')" title="Show more editor options"><img src="{{ asset('resources/img/gear.svg') }}"></a>
                    </div>
                </div>
            </div>
            <div class="subtoolbar" id="findReplaceToolbar">
                <div class="toolbar-content">
                    <input type="text" id="findText" placeholder="Find">
                    <a href="#!" onclick="findPrev()" title="Previous">&#8592;</a><a href="#!" onclick="findNext()" title="Next">&#8594;</a>
                    <input type="text" id="replaceText" placeholder="Replace" style="margin-left: 20px;">
                    <a href="#!" onclick="replaceText()" title="Replace" class="auto">Replace</a><a href="#!" onclick="replaceAllText()" title="All" class="auto">All</a>
                    <a href="#!" onclick="openPopup('findReplaceOptions')" title="Show more find and replace options"><img src="{{ asset('resources/img/gear.svg') }}"></a>
                </div>
            </div>
            <div class="editor-wrapper">
                <div id="editor"></div>
            </div>
        </div>
    </div>


    <div class="popup" id="editorOptions">
        <div class="popup-content" style="width: 350px;">
            <div class="close"><a href="#!" onclick="closePopup()">X</a></div>
            <div class="title">Editor Options</div>
            <div class="clear-both"></div>
            <div>Editor Theme:</div>
            <select onchange="changeTheme(this)" id="theme">
                {{ editorThemes|raw }}
            </select><br><br>
            <div>Default Syntax Highlighting:</div>
            <select id="defaultMode">
                {{ syntaxOptions|raw }}
            </select><br><br>
            <input type="checkbox" id="highlightActiveLine" onclick="toggleHighlightActiveLine()"><label for="highlightActiveLine">Highlight active line</label><br>
            <div class="buttons">
                <button onclick="saveAllSettings()">Save Changes</button><button onclick="closePopup()">Close</button>
            </div>
        </div>
    </div>

    <div class="popup" id="findReplaceOptions">
        <div class="popup-content" style="width: 350px;">
            <div class="close"><a href="#!" onclick="closePopup()">X</a></div>
            <div class="title">Find and Replace Options</div>
            <div class="clear-both"></div>
            <input type="checkbox" id="wrapSearch"><label for="wrapSearch">Wrap search</label><br>
            <input type="checkbox" id="caseSensitive"><label for="caseSensitive">Case sensitive</label><br>
            <input type="checkbox" id="wholeWord"><label for="wholeWord">Match whole words only</label><br>
            <input type="checkbox" id="regExp"><label for="regExp">Search is a regular expression</label><br>
            <input type="checkbox" id="skipCurrent"><label for="skipCurrent">Skip current line</label>
            <div class="buttons">
                <button onclick="saveFindReplaceOptions()">Save Changes</button><button onclick="closePopup()">Close</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('resources/js/ace/ace.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/js/editor-ace.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/js/editor.js') }}"></script>

    <script type="text/javascript">
        var defaultTheme = "{{ attribute(editorSettings, 'defaultTheme') }}";
        var standardSyntax = "{{ attribute(editorSettings, 'defaultSyntaxModeCode') }}";
        var standardArea = "{{ standardArea }}";
        var editorUrl = "{{ path('_editor-controller') }}";
        var saveSettingsUrl = "{{ path('editorSaveSettings') }}";

        var editor = ace.edit("editor");
        editor.session.selection.on("changeCursor", function(e) {
            getCursorPosition();
        });

        $(document).ready(function() {
            getCursorPosition();
            setSettings();
            applySettingsToEditor();
            
            $('.editor-folder').click(function() {
        		selectFolder($(this));
        	});
        	
        	$('.all-projects-folders').trigger('click');
            
            $('.editor-page').click(function() {
        		selectPage($(this));
        	});
        	
			$('.editor-page:visible:first').trigger('click');

			setDraggableAndDroppable();
        });
        
        function setSettings() {
			$('#theme').val(defaultTheme);
			$('#defaultMode').val(standardSyntax);
			{% if attribute(editorSettings, 'highlightActiveLine') is not empty %}
				$('#highlightActiveLine').prop('checked', true);
			{% endif %}
			{% if attribute(editorSettings, 'wrapSearch') is not empty %}
				$('#wrapSearch').prop('checked', true);
			{% endif %}
			{% if attribute(editorSettings, 'caseSensitiveSearch') is not empty %}
				$('#caseSensitive').prop('checked', true);
			{% endif %}
			{% if attribute(editorSettings, 'matchWholeWordsSearch') is not empty %}
				$('#wholeWord').prop('checked', true);
			{% endif %}
			{% if attribute(editorSettings, 'isRegexSearch') is not empty %}
				$('#regExp').prop('checked', true);
			{% endif %}
			{% if attribute(editorSettings, 'skipCurrentLineSearch') is not empty %}
				$('#skipCurrent').prop('checked', true);
			{% endif %}
		}

        function applySettingsToEditor() {
            editor.setTheme(defaultTheme);
            editor.getSession().setMode(standardSyntax);
            editor.setDisplayIndentGuides(false);

            $('#theme').val(defaultTheme);
            $('#mode').val(standardSyntax);

            editor.setHighlightActiveLine((($('#highlightActiveLine:checked').length > 0) ? true:false));
        }
    </script>
{% endblock %}